<!DOCTYPE html>
<html>
<head>
	<title></title>
    <script src="jquery-3.1.1.min.js"></script>
    <script>
        $(function() {
    $('#btnSignUp').click(function() {
 
        $.ajax({
            url: '/signUp',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
    </script>

	<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/home">Home</a></li>
  <li><a class="active" href="/Customer_register">Customer Register</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/transaction">Transaction</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>

<h1>Register Here</h1>

  <form method='post' action="/register_user">
            <table>
                <tr>
                    <th>Customer Name</th>
                    <td><input type="text" name="name" id="name" placeholder="Enter Full Name"></td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td><input type="Email" name="email" placeholder="Enter your Email "></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="Password" name="password" placeholder="Enter your Password"></td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><input type="text" name="address" id="address" placeholder="Enter Full Address"></td>
                </tr>
                <tr>
                    <th>Aadhar Card No</th>
                    <td><input type="text" name="aadhar" id="aadhar" placeholder="Enter Your Aadhar card No"></td>
                </tr>
                <tr>
                    <th>Pan No</th>
                    <td><input type="text" name="pan" id="pan" placeholder="Enter PAN No"></td>
                </tr>
                <tr>
                    <th>Contact No</th>
                    <td><input type="text" name="phone" id="phone" placeholder="Enter Your Contact No"></td>
                </tr>
                    <tr>
                        <th>Amount</th>
                        <td><input type="text" name="amount" placeholder="Enter your Amount"></td>
                    </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="submit">
                </tr>
            </table>
        </form>

</body>
</html>
