<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/Customer_register">Customer Register</a></li>
  <li><a  href="/login">Login</a></li>
  <li><a class="active" href="/transaction">Transaction</a></li>
  <li style="float:right"><a href="#about">About</a></li>
</ul>

<h1>Register Here</h1>

<form method='post' action="/transaction_complete">
            <table>
                <tr>
                    <th>Customer Name</th>
                    <td><input type="text" name="Cust_name" id="Cust_name" placeholder="Enter Full Name"></td>
                </tr>
                <tr>
                    <th>Customer Email Address</th>
                    <td><input type="Email" name="email" placeholder="Enter Customer Email "></td>
                </tr>
                <tr>
                    <th>account</th>
                    <td><input type="text" name="account" id="account" placeholder="Enter Full account"></td>
                </tr>
                <tr>
                    <th>Deposit</th>
                    <td><input type="text" name="deposit" id="deposit" placeholder="Enter Deposited Amount"></td>
                </tr>
                <tr>
                    <th>Withdrawal</th>
                    <td><input type="text" name="withdrawal" id="withdrawal" placeholder="Enter withdrawal Amount"></td>
                </tr>
                
                <tr>
                    <td colspan="2"><input type="submit" value="submit">
                </tr>
            </table>
        </form>

</body>
</html>
